h1{
    text-align: center;
    margin-top: 1em;
    color: white;
}
h3{
    text-align: center;
    margin-top: 1em;
    color: white;
}
#text{
    text-align: center;
    margin-top: 1em;
    color: white;
}

html, body{
    background-color: #353233;
    height: 100%;
}

#container{
    min-height: 100%;
}
#main{
    overflow: auto;
    padding-bottom: 100px;
}

#footer{
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}

#post{
    margin-top: 1.9em;
    display: block;
    width: auto;
    height: auto + 100px;
    padding: 5px;
    border: 1px solid #968bce;    
    background-color: #968bce; 
    transition: 200ms linear;
}

#post:hover{
    margin-top: 1.9em;
    display: block;
    width: auto;
    height: auto + 100px;
    padding: 5px;
    border: 1px solid rgb(26, 159, 221);    
    background-color: rgb(26, 159, 221); 
    transition: 200ms linear;
}
#time{
    text-align: left;
    color: white;
    font-size: 10px;
}

#timetableTitle{
    font-size: 25px;
    text-align: center;
    color: white;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

#teacher{
    color: white;
    font-size: 15px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.textSideBySide{
    display: flex;
    flex-direction: row;
}

a:visited {
    color: #968bce;
    transition: 50ms linear;
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color: rgb(26, 159, 221);
    background-color: transparent;
    text-decoration: none;
    transition: 100ms linear;
}
